{% extends "base.html" %}
{% block body %}
<!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <h3 class="display-4">違法アップロード管理サイト</h3>
  <p class="lead">
    独自のアルゴリズムによって違法アップロード先のリンクを検出します。当サイト内で検出・特定の作業を円滑に進めるお手伝いをします。
  </p>
</header>

<!-- Page Features -->
<div class="row row-cols-1 row-cols-md-2">

  <div class="col mb-4">
    <div class="card shadow">
      <img class="card-img-top" src="/static/images/algo.jpg" alt="">
      <div class="card-body">
        <h4 class="card-title">洗練されたアルゴリズム</h4>
        <p class="card-text">独自開発したアルゴリズムでメーカー様が製作した作品の違法にアップロードされた動画を検出します</p>
      </div>
      <div class="card-footer">
        <a href="/actress">検索フォーム</a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card shadow">
      <img class="card-img-top" src="/static/images/crawl.png" alt="">
      <div class="card-body">
        <h4 class="card-title">Botによる監視</h4>
        <p class="card-text">削除申請を行ったリンクはシステムが自動で巡回し、リストに反映するので削除されたかどうかを一目で確認することができます。</p>
      </div>
      <div class="card-footer">
        <a href="/dmca">リストページ</a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card shadow">
      <img class="card-img-top" src="/static/images/ui.png" alt="">
      <div class="card-body">
        <h4 class="card-title">利便性を追求したUI</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary"></a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card shadow">
      <img class="card-img-top" src="http://placehold.it/500x325" alt="">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>

</div>
<!-- /.row -->

{% endblock %}
